.logo {
    height: 50px;
    width: 50px;
}

.content {
    display: inline-block;

}
.invalid-tooltip {
    content: '*';
    color: red;
}

.title {
    display: inline-block;
}
.btn-sm{
    margin-right:5px;
}
 .defaultImage {
    height: 25px;
    width: 25px;
}

.img-thumbnail {
    height: 25px;
    width: 25px;
}
/*form the  red asterix (class located in register page)*/
.form-group.required .control-label:after {
    content: "*";
    color: red;
}