.logo {
    height: 50px;
    width: 50px;
}

.content {
    display: inline-block;

}
.invalid-tooltip {
    content: '*';
    color: red;
}
.form-group.required.control-label:after {
    color:red;
    content:"*";
    position:absolute;
    margin-left:-10px;
}

.title {
    display: inline-block;
}
.btn-sm{
    margin-right:5px;
}
.defaultImage {
    height:200px;
    width:200px;
}
/*form the  red asterix (class located in register page)*/
.form-group.required .control-label:after {
    content: "*";
    color: red;
}