.logo {
    height: 50px;
    width: 50px;
}

.content {
    display: inline-block;
    align-content:initial
}

.title {
    display: inline-block;
}
/*form the  red asterix (class located in register page)*/
.form-group.required .control-label:after{
    content:"*";
    color: red;

}