

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CompletePurchase</title>
</head>
<body>
    @section Title{
        @await Html.PartialAsync("_TitlePartialView")
    }
    <div>

        @section Login{
            @await Html.PartialAsync("_LoginPartialView", new Login())
        }
    </div>
    <p>
        Purchase process completed successfully.
        You are welcome to purchase additional products and enjoy a perfect shopping experience!
    </p>
    <a asp-action="AvailableItems" asp-controller="Home">
        return to home
    </a>
</body>
</html>
