
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowCart</title>
</head>
<body>
    @section Title{
        @await Html.PartialAsync("_TitlePartialView")
    }
    <div>

        @section Login{
            @await Html.PartialAsync("_LoginPartialView", new Login())
        }
    </div>
    <div class="content">
        <table>
            <tr>
                <th>item name</th>
                <th>price</th>
                <th>actions</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="ShowDetails" asp-controller="Home">@item.Title</a>

                    </td>
                    <td>
                        @item.Price NIS
                    </td>
                    <td>
                        <a asp-action="RemoveFromCart" asp-controller="ShoppingCart">Remove</a>
                    </td>
                </tr>
            }
        </table>
        <div class="cart-summary border border-primary float-right">
            <div>
                total price for visitor:
                @TempData["visitorPrice"]

            </div>
            <div>
                total price for members:
                @TempData["memberPrice"]
                
            </div>
            <form asp-controller="ShoppingCart" asp-action="CompletePurchase" method="post">
                <input type="submit" value="Purchase" />
            </form>

        </div>
</body>
</html>
