
@{
    ViewData["Title"] = "Layout";
}
@inject IHighlightActive HighlightServ

<head>

    <script src="~/jquery.js"></script>
    <script src="~/bootstrap.js"></script>
    <link href="~/bootstrap.css" rel="stylesheet" />
    <script src="~/popper.js"></script>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>



<body>
    <div class="alert alert-primary" role="alert">
        @if (IsSectionDefined("Title"))
        {
            @RenderSection("Title")
        }

    </div>

    <div class="log-in">
        @if (IsSectionDefined("login"))
        {
            RenderSection("Login");

        }

    </div>
    <div class="content">
        <nav class="navbar navbar-light bg-light fixed-left">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a asp-action="AvailableItems" asp-controller="home" class=@HighlightServ.classForNavLink(ViewBag.activeHome!=null)>Main Page</a>
                </li>
                <li class="nav-item">
                    <a asp-action="ShowCart" asp-controller="ShoppingCart" class=@HighlightServ.classForNavLink(ViewBag.activeCart!=null)>Shopping cart</a>
                </li>
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Register" class=@HighlightServ.classForNavLink(ViewBag.activeRegister!=null)>Register</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">

                        <a asp-action="AddNewAdvertisement" asp-controller="home" class=@HighlightServ.classForNavLink(ViewBag.activeAdd!=null)>Add New Advertisement</a>
                        }

                    </li>
                }
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="About" class=@HighlightServ.classForNavLink(ViewBag.activeAbout!=null)>About</a>
                </li>

            </ul>
        </nav>
    </div>

    <div class="content">
        <div>
            @RenderBody()
        </div>
    </div>


</body>