
@{
    ViewData["Title"] = "Layout";
}

<head>

    <script src="~/jquery.js"></script>
    <script src="~/bootstrap.js"></script>
    <link href="~/bootstrap.css" rel="stylesheet" />
    <script src="~/popper.js"></script>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>



<body>
    <div class="alert alert-primary" role="alert">
        @if (IsSectionDefined("Title"))
        {
            @RenderSection("Title")
        }

    </div>

    <div class="log-in">
        @if (IsSectionDefined("login"))
        {
            RenderSection("Login");
            
        }

    </div>


        <div class="content">
            <nav class="navbar navbar-light bg-light fixed-left">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a asp-action="AvailableItems" asp-controller="home" class="nav-link">Main Page</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="ShowCart" asp-controller="ShoppingCart" class="nav-link">Shopping cart</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Register" class="nav-link">Register</a>
                    </li>
                    <li class="nav-item">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-action="AddNewAdvertisement" asp-controller="home" class="nav-link">Add New Advertisement</a>
                        }

                    </li>
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="About" class="nav-link">About</a>
                    </li>

                </ul>
            </nav>
        </div>

        <div class="content">
            <div>
                @RenderBody()
            </div>
        </div>


</body>