
@{
    ViewData["Title"] = "Layout";
}

<head>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/StyleSheet.css" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap-reboot.min.css" rel="stylesheet" />
    @*<script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>*@
</head>

<body>
    <div class="top">
        @ViewBag.pageName
        <img src="pineapple.jpg" alt="Pineapple">
    </div>


    <div class="right-side">
        <div class="log-in">
            @if (IsSectionDefined("login"))
            {
                RenderSection("Login");
            }
            @if (IsSectionDefined("Greetings"))
            {
                RenderSection("Greetings");
            }
        </div>
        <nav class="nav-bar">
            <ul>
                <li><a asp-action="AvailableItems" asp-controller="home">Main Page</a></li>
                <li><a asp-action="ShowCart" asp-controller="ShoppingCart">Shopping cart</a></li>
                <li><a asp-action="Register" asp-controller="Rgister">Register</a></li>
                <li><a asp-action="Index" asp-controller="About">About</a></li>
            </ul>

        </nav>
    </div>
    <div class="left-side">
        @RenderBody()

    </div>
</body>