
@{
    ViewData["Title"] = "webLayout";
}

<head>
    <link rel="stylesheet" href="~/StyleSheet.css" />

</head>

<body>
    <div class="top">
        @ViewBag.pageName
        <img src="pineapple.jpg" alt="Pineapple">
    </div>


    <div class="right-side">
        <div class="log-in">
            @if (IsSectionDefined("login"))
            {
                RenderSection("Login");
            }
            @if (IsSectionDefined("Greetings"))
            {
                RenderSection("Greetings");
            }
        </div>
        <nav class="nav-bar">
            <ul>
                <li><a asp-action="AvailableItems" asp-controller="home">Main Page</a></li>
                <li><a asp-action="ShowCart" asp-controller="ShoppingCart">Shopping cart</a></li>
                <li><a asp-action="Register" asp-controller="home">Register</a></li>
                <li><a asp-action="About" asp-controller="home">About</a></li>
            </ul>

        </nav>
    </div>
    <div class="left-side">
        @RenderBody()

    </div>
</body>