
@{
    Layout = null;
}

<!DOCTYPE html>
@model ChangePassword
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateNewPassword</title>
</head>
<body>
    @section Title{
        @await Html.PartialAsync("_TitlePartialView")
    }
    <div>
        @section Login{
            @await Html.PartialAsync("_LoginPartialView", new Login())
        }
    </div>
    <div class="content">
        <form asp-action="UpdateNewPassword" asp-controller="Register" method="put">
            <div>
                <label asp-for="CurrentPassword"></label>
                <input type="password" asp-for="CurrentPassword" />
                <span asp-validation-for="CurrentPassword"></span>
            </div>
            <div>
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" />
                <span asp-validation-for="NewPassword"></span>
            </div>
            <div>
                <label asp-for="PasswordConfirm"></label>
                <input asp-for="PasswordConfirm" />
                <span asp-validation-for="PasswordConfirm"></span>
            </div>
            <input type="submit" value="Update" />
            <div asp-validation-summary="All"></div>
        </form>
    </div>
</body>
</html>
