@model StatusCodeResult
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>

    error number:
    @Model.StatusCode
 sorry, the item was not found
</div>
