@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



@section Title{
    @await Html.PartialAsync("_TitlePartialView");
}
<div>
    @section Login{
        @await Html.PartialAsync("_LoginPartialView")
    }
</div>

<div class="content">
    hello and welcome to our website,
    we are Mushki and Osnat and we are here to give you the best shopping experience
    in our website you can find many electrical appliances that were handpicked and confirmed for your needs
    
</div>

