@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div>
    @section Login{
        @await Html.PartialAsync("_LoginPartialView")
    }
</div>
<div>
    blablabla
</div>