
@section Title{
    @await Html.PartialAsync("_TitlePartialView")
}
<div>

    @section Login{
        @await Html.PartialAsync("_LoginPartialView", new Login())
    }
</div>


<div class="alert alert-danger mt-1 mb-1">
    <h4>Not found error</h4>
    <h5>
        product cannot be found
    </h5>

</div>